body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333333;
}
.wrap{
    width: 1174px;
    margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* для IE6-7 */
.clearfix {
    zoom: 1;
}
.text-center{
    text-align: center;
}
.text-left{
    float: left;
    margin: 5px;
}
a{
    color: #4fad26;
}
a:hover,
a:focus{
    color: #498031;
}
p, ol, ul{
    font-size: 16px;
    line-height: 1.7;
}
h2{
    font-size: 30px;
    color: #4fad26;
    font-weight: bold;
}
h3{
    font-weight: normal;
    font-size: 24px;
    color: #498031;
}
h4{
    font-weight: bold;
}
img{
    max-width: 100%;
}
.main-content{
    padding: 40px 0;
    min-height: 650px;
}
.table i{
    font-size: 12px;
    color: #4fad26;
}
.table td{
    text-transform: capitalize;
}
.latest-rate{
    list-style: none;
    font-size: 20px;
}
.flag{
    width: 120px;
    display: block;
    margin: 10px auto;
}
.footer{
    background: #1b1a1a;
    color: #fff;
    padding: 20px 0;
}
.go-back{
    margin-top: 50px;
    font-weight: bold;
    display: inline-block;
}
.recently-viewed{
    padding: 0;
    margin: 30px 0;
    display: block;
    text-align: center;
}
.recently-viewed li{
    display: inline-block;
    width: 16%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #4fad26;
}
.bg-grey{
    background-color: #eee;
    border: 2px solid #3c763d;
    border-radius: 7px;
}